n8n_workflow.json
{
  "name": "Telemost Meeting Recorder copy",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -1152,
        736
      ],
      "id": "d74d5479-f79f-49f4-b605-df5a36aef40c",
      "webhookId": "72f28716-327d-4d64-b751-5f9ae5caa731",
      "credentials": {
        "telegramApi": {
          "id": "WMJHaEdWDU1NG3bS",
          "name": "TeleTranscript"
        }
      }
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 6,
        "output": "={{ (() => { const token = (($json.message.text || $json.message.caption || '').trim().split(/\\s+/)[0] || '').toLowerCase(); const raw = token.split('@')[0]; const ix = ['/meeting_start','/meeting_stop','/meeting_join','/telemost_name','/telemost_photo'].indexOf(raw); return ix >= 0 ? ix : 5; })() }}"
      },
      "name": "Route Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -944,
        688
      ],
      "id": "727d8505-7253-4fad-b4e3-186f8728909c"
    },
    {
      "parameters": {
        "command": "={{ '/opt/telemost-recorder/run_start.sh \"' + (($('Telegram Trigger').first().json.message.text.replace('/meeting_start', '').trim() || 'Встреча ' + new Date().toLocaleString('ru-RU', { timeZone: 'Europe/Moscow' })).replace(/\"/g, '\\\\\"')) + '\" \"' + String($('Telegram Trigger').first().json.message.chat.id) + '\"' }}"
      },
      "name": "Start Meeting",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -608,
        576
      ],
      "id": "8fc42151-ca56-43d7-95d1-b5d573d1b17d",
      "credentials": {
        "sshPassword": {
          "id": "FApt1ZZUfMm8GIK9",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.stdout || '';\nconst err = $input.first().json.stderr || '';\nif (!raw.trim()) {\n  return [{ json: { error: err.trim() || 'start_meeting.sh вернул пустой ответ' } }];\n}\ntry {\n  return [{ json: JSON.parse(raw) }];\n} catch(e) {\n  return [{ json: { error: 'start_meeting.sh: ' + (err.trim() || raw.substring(0, 500)) } }];\n}"
      },
      "name": "Parse Start State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        576
      ],
      "id": "a9d40b47-babf-4d02-acdb-874a1ae1c225"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Start Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -208,
        576
      ],
      "id": "2211372b-8be5-4c3e-a258-4c4090d2b485"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "=❌ Ошибка при создании встречи:\n\n`{{ $json.error }}`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Start Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        16,
        496
      ],
      "id": "3b9e4eee-2e77-4669-9cd9-17b34cc7fd2a",
      "webhookId": "3f88deb5-4e67-4c68-a300-f256d0ea5425",
      "credentials": {
        "telegramApi": {
          "id": "WMJHaEdWDU1NG3bS",
          "name": "TeleTranscript"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "=✅ Встреча создана!\n\n📋 *{{ $json.title }}*\n🔗 Ссылка: {{ $json.join_url }}\n\n🔴 Запись идёт. Для остановки: /meeting\\_stop",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Join URL",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        16,
        640
      ],
      "id": "827ee980-6f97-47ed-b348-ad39bb176d14",
      "webhookId": "01551f13-1c4c-4467-b4a9-028747eeb150",
      "credentials": {
        "telegramApi": {
          "id": "WMJHaEdWDU1NG3bS",
          "name": "TeleTranscript"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.message?.text || '';\nconst rest = text.replace(/^\\/meeting_join\\s*/i, '').trim();\nconst urlMatch = rest.match(/https?:\\/\\/[^\\s]+/);\nconst esc = (s) => String(s).replace(/\"/g, '\\\\\"');\nconst chatId = String($input.first().json.message.chat.id);\nif (!urlMatch) {\n  return [{ json: { command: `echo '{\"error\":\"Укажите ссылку Телемоста в том же сообщении после /meeting_join\"}'` } }];\n}\nconst joinUrl = urlMatch[0];\nconst titlePart = rest.replace(joinUrl, '').trim() || ('Встреча ' + new Date().toLocaleString('ru-RU', { timeZone: 'Europe/Moscow' }));\nconst command = '/opt/telemost-recorder/run_join.sh \"' + esc(joinUrl) + '\" \"' + esc(titlePart) + '\" \"' + esc(chatId) + '\"';\nreturn [{ json: { command } }];"
      },
      "name": "Build Join Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        416
      ],
      "id": "ebd4074e-23d6-48bf-bad2-458fa9e092cc"
    },
    {
      "parameters": {
        "command": "={{ $json.command }}"
      },
      "name": "Join Meeting",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -608,
        432
      ],
      "id": "ced1316a-51ba-4474-ba28-f4be5b3cedea",
      "credentials": {
        "sshPassword": {
          "id": "FApt1ZZUfMm8GIK9",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.stdout || '';\nconst err = $input.first().json.stderr || '';\nif (!raw.trim()) {\n  return [{ json: { error: err.trim() || 'join_meeting.sh вернул пустой ответ' } }];\n}\ntry {\n  return [{ json: JSON.parse(raw) }];\n} catch(e) {\n  return [{ json: { error: 'join_meeting.sh: ' + (err.trim() || raw.substring(0, 500)) } }];\n}"
      },
      "name": "Parse Join State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        432
      ],
      "id": "79884759-a807-4f85-932a-d86f88bedaa4"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Join Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -208,
        432
      ],
      "id": "7dd60fd2-9476-4d99-b75b-6333595fe0e7"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "=❌ Не удалось начать запись по ссылке:\n\n`{{ $json.error }}`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Join Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        16,
        144
      ],
      "id": "b1194784-bb12-4dc4-8e54-888f860d9afb",
      "webhookId": "856d15a7-1ec8-46f2-a3f6-14a6f3d9b5fc",
      "credentials": {
        "telegramApi": {
          "id": "WMJHaEdWDU1NG3bS",
          "name": "TeleTranscript"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "=✅ Запись по ссылке запущена\n\n📋 *{{ $json.title }}*\n🔗 {{ $json.join_url }}\n\n🔴 Запись идёт. Остановка: /meeting\\_stop",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Join Started",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        16,
        320
      ],
      "id": "85b8743a-120d-4a80-af8a-4f2faa753196",
      "webhookId": "2ee1ed92-9663-41dd-8876-8c8c77ac7f9f",
      "credentials": {
        "telegramApi": {
          "id": "WMJHaEdWDU1NG3bS",
          "name": "TeleTranscript"
        }
      }
    },
    {
      "parameters": {
        "command": "/opt/telemost-recorder/run_stop.sh"
      },
      "name": "Stop Meeting",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -624,
        752
      ],
      "id": "d2b25308-5050-4b40-a55f-7a21a293b876",
      "credentials": {
        "sshPassword": {
          "id": "FApt1ZZUfMm8GIK9",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.stdout || '';\nconst err = $input.first().json.stderr || '';\nif (!raw.trim()) {\n  return [{ json: { error: err.trim() || 'Нет активной встречи' } }];\n}\ntry {\n  return [{ json: JSON.parse(raw) }];\n} catch(e) {\n  return [{ json: { error: 'stop_meeting.sh: ' + (err.trim() || raw.substring(0, 500)) } }];\n}"
      },
      "name": "Parse Stop State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        800
      ],
      "id": "5a8024b0-b5a0-4792-83c7-5463264a39c6"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Stop Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -208,
        800
      ],
      "id": "3ad8ed68-a327-46b1-9584-d2e41b639d9f"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "=❌ Ошибка при остановке встречи:\n\n`{{ $json.error }}`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Stop Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        16,
        784
      ],
      "id": "d65d9bf4-853f-4b86-ba55-fe166627179e",
      "webhookId": "845d648a-150f-4a63-9680-7ef16bbcdb50",
      "credentials": {
        "telegramApi": {
          "id": "WMJHaEdWDU1NG3bS",
          "name": "TeleTranscript"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "=⏹ Запись остановлена.\n📁 Файл: `{{ $json.file }}`\n🕐 Начало (МСК): {{ new Date($json.started_at).toLocaleString('ru-RU', { timeZone: 'Europe/Moscow' }) }}\n⏱ Длительность: {{ Math.round($json.duration_sec / 60) }} мин\n\n⏳ Запускаю транскрибацию...",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Notify Stop",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        0,
        928
      ],
      "id": "a07ed1d8-e7a8-40ae-988c-e366a2e9de10",
      "webhookId": "2c415a80-cd7f-4496-acf0-2bf5076ac148",
      "credentials": {
        "telegramApi": {
          "id": "WMJHaEdWDU1NG3bS",
          "name": "TeleTranscript"
        }
      }
    },
    {
      "parameters": {
        "command": "={{ '/opt/telemost-recorder/run_transcribe.sh \"' + ($('Parse Stop State').first().json.file || '').replace(/\"/g, '\\\\\"') + '\" \"' + ($('Parse Stop State').first().json.title || '').replace(/\"/g, '\\\\\"') + '\"' }}"
      },
      "name": "Run Transcription",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        224,
        928
      ],
      "id": "96a51a0f-c0c2-4d69-88a9-b9babb488661",
      "credentials": {
        "sshPassword": {
          "id": "FApt1ZZUfMm8GIK9",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.stdout || '';\nconst err = $input.first().json.stderr || '';\nif (!raw.trim()) {\n  return [{ json: { error: 'transcribe.py: ' + (err.trim() || 'пустой ответ') } }];\n}\ntry {\n  return [{ json: JSON.parse(raw) }];\n} catch(e) {\n  return [{ json: { error: 'transcribe.py: ' + (err.trim() || raw.substring(0, 500)) } }];\n}"
      },
      "name": "Parse Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        928
      ],
      "id": "ad16a0a4-416f-4177-9aa0-7d7d9b502e28"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Transcript Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        560,
        928
      ],
      "id": "98d34f63-022c-47c6-ab52-c7e586053d13"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "=❌ Ошибка транскрибации:\n\n`{{ $json.error }}`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Transcribe Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        784,
        784
      ],
      "id": "4f3aad24-dbe9-4814-b29d-63e0d19b41c9",
      "webhookId": "5e8b4c3a-3705-4643-ba52-c5d22354af23",
      "credentials": {
        "telegramApi": {
          "id": "WMJHaEdWDU1NG3bS",
          "name": "TeleTranscript"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const t = $input.first().json;\nconst utterancesRaw = t.utterances ?? [];\nconst chatId = String($('Telegram Trigger').first().json.message.chat.id);\nreturn [{\n  json: {\n    title: t.title ?? '',\n    file_path: t.file_path ?? null,\n    transcript: t.transcript ?? '',\n    utterances: JSON.stringify(utterancesRaw),\n    speaker_count: t.speaker_count ?? 0,\n    utterance_count: t.utterance_count ?? 0,\n    operation_id: t.operation_id ?? null,\n    transcribed_at: t.transcribed_at ?? new Date().toISOString(),\n    _n8n_chat_id: chatId,\n    _n8n_source: 'telegram_bot',\n  },\n}];"
      },
      "name": "Build Supabase Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        992
      ],
      "id": "90c8dfb0-10c3-483a-8c62-75829c5e9e9b"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.meeting_transcripts (title, file_path, transcript, utterances, speaker_count, utterance_count, operation_id, transcribed_at) VALUES ($1, $2, $3, $4::jsonb, $5::integer, $6::integer, $7, $8::timestamptz)",
        "options": {
          "queryReplacement": "={{ [$json.title, $json.file_path, $json.transcript, $json.utterances, $json.speaker_count, $json.utterance_count, $json.operation_id, $json.transcribed_at] }}"
        }
      },
      "name": "Save to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        864,
        1152
      ],
      "id": "2eff4658-cc3c-4f69-baba-de775abd6425",
      "credentials": {
        "postgres": {
          "id": "7sjzrcKYg83FMjER",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Build Supabase Row').first().json._n8n_chat_id }}",
        "text": "=📝 *{{ $('Build Supabase Row').first().json.title }}*\n\n🕐 {{ new Date($('Build Supabase Row').first().json.transcribed_at).toLocaleString('ru-RU', { timeZone: 'Europe/Moscow' }) }}\n\n👥 Участников: {{ $('Build Supabase Row').first().json.speaker_count }}\n💬 Реплик: {{ $('Build Supabase Row').first().json.utterance_count }}\n\n{{ $('Build Supabase Row').first().json.transcript.substring(0, 3000) }}{{ $('Build Supabase Row').first().json.transcript.length > 3000 ? '\\n\\n...(полный текст сохранён в БД)' : '' }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Transcript",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1120,
        1072
      ],
      "id": "03dc39ae-5f3f-44b5-9754-90053ad8789d",
      "webhookId": "dcf4d957-2e98-4814-98c4-50fb83e7d358",
      "credentials": {
        "telegramApi": {
          "id": "WMJHaEdWDU1NG3bS",
          "name": "TeleTranscript"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "title",
              "stringValue": "={{ $json.title }}"
            },
            {
              "name": "transcript",
              "stringValue": "={{ $json.transcript }}"
            },
            {
              "name": "chat_id",
              "stringValue": "={{ $json._n8n_chat_id }}"
            },
            {
              "name": "source",
              "stringValue": "={{ $json._n8n_source }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "name": "Prepare Summary Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1120,
        896
      ],
      "id": "46e16a93-2a28-4a5f-b53f-f25e106be062"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "RvKugkmwOpUFs4b6",
          "mode": "id",
          "cachedResultUrl": "/workflow/RvKugkmwOpUFs4b6"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "name": "Execute Meeting Summary",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1344,
        896
      ],
      "id": "0381e728-dcae-4169-aedc-f182ccb7ebd0",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const trigger = $('Telegram Trigger').first().json;\nconst msg = trigger.message || {};\nconst chatId = String(msg.chat?.id ?? '');\nconst line = String(msg.text || msg.caption || '').replace(/^\\s*\\/telemost_name\\s*/i, '').trim();\nif (!line) {\n  return [\n    {\n      json: {\n        chat_id: chatId,\n        error:\n          'Укажите имя после команды, например: /telemost_name EN Recording bot\\nСброс к .env: /telemost_name --reset',\n      },\n    },\n  ];\n}\nconst esc = (s) =>\n  String(s)\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/\"/g, '\\\\\"')\n    .replace(/\\$/g, '\\\\$')\n    .replace(/`/g, '\\\\`');\nconst command = '/opt/telemost-recorder/set_recorder_display_name.sh \"' + esc(line) + '\"';\nreturn [{ json: { chat_id: chatId, command } }];"
      },
      "name": "Build Telemost Name Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        1072
      ],
      "id": "c92d3b73-4415-42f6-9366-3b874e64914d"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Telemost Name Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -528,
        1072
      ],
      "id": "e7dbab9a-88d2-4d23-8aca-29ac38af10cb"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=❌ `{{ $json.error }}`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Telemost Name Validation Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -304,
        992
      ],
      "id": "f8191e3d-cfcf-4317-9c0e-70595ebe17a1",
      "webhookId": "8d7acce9-9c36-44af-99f6-72a2ba4e4271",
      "credentials": {
        "telegramApi": {
          "id": "WMJHaEdWDU1NG3bS",
          "name": "TeleTranscript"
        }
      }
    },
    {
      "parameters": {
        "command": "={{ $json.command }}"
      },
      "name": "SSH Set Telemost Name",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -304,
        1152
      ],
      "id": "65b3d6f6-23db-4e9b-95e7-e31e601c0bb1",
      "credentials": {
        "sshPassword": {
          "id": "FApt1ZZUfMm8GIK9",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.stdout || '';\nconst err = $input.first().json.stderr || '';\nconst chatId = $('Build Telemost Name Command').first().json.chat_id;\nif (!raw.trim()) {\n  return [{ json: { chat_id: chatId, error: err.trim() || 'set_recorder_display_name.sh вернул пустой ответ' } }];\n}\ntry {\n  const parsed = JSON.parse(raw);\n  if (parsed.error) {\n    return [{ json: { chat_id: chatId, error: String(parsed.error) } }];\n  }\n  return [{ json: { chat_id: chatId, ...parsed } }];\n} catch (e) {\n  return [{ json: { chat_id: chatId, error: 'set_recorder_display_name.sh: ' + (err.trim() || raw.substring(0, 500)) } }];\n}"
      },
      "name": "Parse Telemost Name Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        1168
      ],
      "id": "2180ae2c-5d77-4e9d-ad84-ea539adb198a"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Telemost Name Script Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        80,
        1168
      ],
      "id": "a9ae3969-7260-486e-909d-e5a5e0051ba8"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=❌ Не удалось сохранить имя:\n\n`{{ $json.error }}`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Telemost Name SSH Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        288,
        1072
      ],
      "id": "816742b3-af2b-4d2f-ab5e-8c9074490822",
      "webhookId": "b0c8fca6-8262-46df-afd1-8fc454536c71",
      "credentials": {
        "telegramApi": {
          "id": "WMJHaEdWDU1NG3bS",
          "name": "TeleTranscript"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=✅ Имя в лобби Телемоста: *{{ $json.display_name || $json.message || \"готово\" }}*\n\nУчтётся при следующем /meeting\\_start или /meeting\\_join (если в профиле пусто — из BOT\\_DISPLAY\\_NAME в .env).",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Telemost Name OK",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        464,
        1216
      ],
      "id": "0102d2a3-9fcf-4f16-8b32-550622a92493",
      "webhookId": "c6275da6-c2c9-44f4-b821-b3a8e2e508b1",
      "credentials": {
        "telegramApi": {
          "id": "WMJHaEdWDU1NG3bS",
          "name": "TeleTranscript"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const trigger = $('Telegram Trigger').first().json;\nconst msg = trigger.message || {};\nconst chatId = String(msg.chat?.id ?? '');\nconst photos = msg.photo;\nif (!photos || photos.length === 0) {\n  return [\n    {\n      json: {\n        chat_id: chatId,\n        error:\n          'Пришлите фото с подписью /telemost_photo (картинка в том же сообщении).',\n      },\n    },\n  ];\n}\nconst best = photos[photos.length - 1];\nconst fileId = best && best.file_id;\nif (!fileId) {\n  return [{ json: { chat_id: chatId, error: 'Не удалось получить file_id фото.' } }];\n}\nreturn [{ json: { chat_id: chatId, file_id: fileId } }];"
      },
      "name": "Build Telemost Photo Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        1296
      ],
      "id": "45662d89-0d91-41bb-a98a-71737e652edb"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Telemost Photo Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -544,
        1296
      ],
      "id": "d5b259fd-5c55-4067-8fa9-fbbd3d9e8390"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=❌ `{{ $json.error }}`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Telemost Photo Validation Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -336,
        1296
      ],
      "id": "256d0e8a-6ec9-4ae7-b2ba-977f39dafbef",
      "webhookId": "488ee400-f24c-445e-9b22-b76496a7a26e",
      "credentials": {
        "telegramApi": {
          "id": "WMJHaEdWDU1NG3bS",
          "name": "TeleTranscript"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.file_id }}",
        "additionalFields": {}
      },
      "name": "Telegram Download Avatar",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -416,
        1504
      ],
      "id": "e829b3fd-7984-41b9-bfe9-872d9cfb9a7a",
      "webhookId": "cbe0f820-6e2b-4f37-add5-3ec052d5ff65",
      "credentials": {
        "telegramApi": {
          "id": "WMJHaEdWDU1NG3bS",
          "name": "TeleTranscript"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=✅ Аватар для лобби Телемоста сохранён на сервере.\n\nПри следующем входе бот попытается подставить это фото как свой аватар",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Telemost Avatar OK",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -32,
        1504
      ],
      "id": "6b226719-d44d-41df-8035-b8b074d532e5",
      "webhookId": "d19abd60-dbe1-4741-ac87-156902281190",
      "credentials": {
        "telegramApi": {
          "id": "WMJHaEdWDU1NG3bS",
          "name": "TeleTranscript"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "Неизвестная команда.\n\nДоступные команды:\n/meeting\\_start [название] — создать встречу и записать\n/meeting\\_join https://… — записать по чужой ссылке\n/meeting\\_stop — остановить запись и транскрибировать\n/telemost\\_name Имя — имя участника в лобби Телемоста\n/telemost\\_name --reset — сброс к BOT\\_DISPLAY\\_NAME из .env\n/telemost\\_photo — фото в том же сообщении, подпись /telemost\\_photo",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Unknown Command",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -624,
        912
      ],
      "id": "04090e05-c287-4620-92a7-e17199bdd2e1",
      "webhookId": "af13bfc5-37ca-441e-9975-7e4fa7f736ea",
      "credentials": {
        "telegramApi": {
          "id": "WMJHaEdWDU1NG3bS",
          "name": "TeleTranscript"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "telemost",
        "fileName": "avatar.jpg",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        -224,
        1504
      ],
      "id": "142eb1c3-e843-4eb3-b138-8237f5fcd3e4",
      "name": "Upload a file",
      "credentials": {
        "s3": {
          "id": "k1RurPHLgbHiLdxb",
          "name": "S3 account"
        }
      }
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 94678003,
          "message": {
            "message_id": 56,
            "from": {
              "id": 4683166,
              "is_bot": false,
              "first_name": "Oleg",
              "last_name": "Pokrovskiy",
              "username": "hippo26",
              "language_code": "ru",
              "is_premium": true
            },
            "chat": {
              "id": 4683166,
              "first_name": "Oleg",
              "last_name": "Pokrovskiy",
              "username": "hippo26",
              "type": "private"
            },
            "date": 1775673587,
            "photo": [
              {
                "file_id": "AgACAgIAAxkBAAMpadabBq0TGYvc7pHl3BuW2UIf4LcAAokPaxt3KbhKiYEybhHxNS4BAAMCAANzAAM7BA",
                "file_unique_id": "AQADiQ9rG3cpuEp4",
                "file_size": 1570,
                "width": 90,
                "height": 67
              },
              {
                "file_id": "AgACAgIAAxkBAAMpadabBq0TGYvc7pHl3BuW2UIf4LcAAokPaxt3KbhKiYEybhHxNS4BAAMCAANtAAM7BA",
                "file_unique_id": "AQADiQ9rG3cpuEpy",
                "file_size": 23441,
                "width": 320,
                "height": 240
              },
              {
                "file_id": "AgACAgIAAxkBAAMpadabBq0TGYvc7pHl3BuW2UIf4LcAAokPaxt3KbhKiYEybhHxNS4BAAMCAAN4AAM7BA",
                "file_unique_id": "AQADiQ9rG3cpuEp9",
                "file_size": 98412,
                "width": 800,
                "height": 600
              },
              {
                "file_id": "AgACAgIAAxkBAAMpadabBq0TGYvc7pHl3BuW2UIf4LcAAokPaxt3KbhKiYEybhHxNS4BAAMCAAN5AAM7BA",
                "file_unique_id": "AQADiQ9rG3cpuEp-",
                "file_size": 178937,
                "width": 1280,
                "height": 960
              }
            ],
            "caption": "/telemost_photo",
            "caption_entities": [
              {
                "offset": 0,
                "length": 15,
                "type": "bot_command"
              }
            ]
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Route Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Command": {
      "main": [
        [
          {
            "node": "Start Meeting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop Meeting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Join Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Telemost Name Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Telemost Photo Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Telemost Name Command": {
      "main": [
        [
          {
            "node": "Telemost Name Has Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telemost Name Has Error?": {
      "main": [
        [
          {
            "node": "Send Telemost Name Validation Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SSH Set Telemost Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH Set Telemost Name": {
      "main": [
        [
          {
            "node": "Parse Telemost Name Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Telemost Name Result": {
      "main": [
        [
          {
            "node": "Telemost Name Script Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telemost Name Script Failed?": {
      "main": [
        [
          {
            "node": "Send Telemost Name SSH Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Telemost Name OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Telemost Photo Command": {
      "main": [
        [
          {
            "node": "Telemost Photo Has Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telemost Photo Has Error?": {
      "main": [
        [
          {
            "node": "Send Telemost Photo Validation Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Download Avatar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Download Avatar": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Join Command": {
      "main": [
        [
          {
            "node": "Join Meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Join Meeting": {
      "main": [
        [
          {
            "node": "Parse Join State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Join State": {
      "main": [
        [
          {
            "node": "Join Has Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Join Has Error?": {
      "main": [
        [
          {
            "node": "Send Join Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Join Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Meeting": {
      "main": [
        [
          {
            "node": "Parse Start State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Start State": {
      "main": [
        [
          {
            "node": "Start Has Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Has Error?": {
      "main": [
        [
          {
            "node": "Send Start Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Join URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Meeting": {
      "main": [
        [
          {
            "node": "Parse Stop State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Stop State": {
      "main": [
        [
          {
            "node": "Stop Has Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Has Error?": {
      "main": [
        [
          {
            "node": "Send Stop Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Stop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Stop": {
      "main": [
        [
          {
            "node": "Run Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Transcription": {
      "main": [
        [
          {
            "node": "Parse Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Transcript": {
      "main": [
        [
          {
            "node": "Transcript Has Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcript Has Error?": {
      "main": [
        [
          {
            "node": "Send Transcribe Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Supabase Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Supabase Row": {
      "main": [
        [
          {
            "node": "Save to Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Summary Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Supabase": {
      "main": [
        [
          {
            "node": "Send Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Summary Payload": {
      "main": [
        [
          {
            "node": "Execute Meeting Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Send Telemost Avatar OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "18495ddc-2019-4742-a4e7-ff825209f48e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "37c1bec5477bc5881c36f29ac7b9dab276628a9c7b18952c9c8961bf5c12fae5"
  },
  "id": "PUaCY4syDFwoTcTb",
  "tags": []
}
