n8n_workflow.json
{
  "name": "Telemost Meeting Recorder",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.message.text.split(' ')[0] }}",
        "rules": {
          "rules": [
            {
              "value2": "/meeting_start",
              "output": 0
            },
            {
              "value2": "/meeting_stop",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 2
      },
      "name": "Route Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [420, 300]
    },

    {
      "parameters": {
        "command": "={{ '/opt/telemost-recorder/run_start.sh \"' + (($json.message.text.replace('/meeting_start', '').trim() || 'Встреча ' + new Date().toLocaleString('ru-RU')).replace(/\"/g, '\\\\\"')) + '\"' }}"
      },
      "name": "Start Meeting",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [660, 160]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.stdout || '';\nconst err = $input.first().json.stderr || '';\nif (!raw.trim()) {\n  return [{ json: { error: err.trim() || 'start_meeting.sh вернул пустой ответ' } }];\n}\ntry {\n  return [{ json: JSON.parse(raw) }];\n} catch(e) {\n  return [{ json: { error: 'start_meeting.sh: ' + (err.trim() || raw.substring(0, 500)) } }];\n}"
      },
      "name": "Parse Start State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 160]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Start Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1060, 160]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "=❌ Ошибка при создании встречи:\n\n`{{ $json.error }}`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Start Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1260, 80]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "=✅ Встреча создана!\n\n📋 *{{ $json.title }}*\n🔗 Ссылка: {{ $json.join_url }}\n\n🔴 Запись идёт. Для остановки: /meeting\\_stop",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Join URL",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1260, 240]
    },

    {
      "parameters": {
        "command": "/opt/telemost-recorder/run_stop.sh"
      },
      "name": "Stop Meeting",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [660, 440]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.stdout || '';\nconst err = $input.first().json.stderr || '';\nif (!raw.trim()) {\n  return [{ json: { error: err.trim() || 'Нет активной встречи' } }];\n}\ntry {\n  return [{ json: JSON.parse(raw) }];\n} catch(e) {\n  return [{ json: { error: 'stop_meeting.sh: ' + (err.trim() || raw.substring(0, 500)) } }];\n}"
      },
      "name": "Parse Stop State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 440]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Stop Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1060, 440]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "=❌ Ошибка при остановке встречи:\n\n`{{ $json.error }}`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Stop Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1260, 360]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "=⏹ Запись остановлена.\n📁 Файл: `{{ $json.file }}`\n⏱ Длительность: {{ Math.round($json.duration_sec / 60) }} мин\n\n⏳ Запускаю транскрибацию...",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Notify Stop",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1260, 520]
    },
    {
      "parameters": {
        "command": "={{ '/opt/telemost-recorder/run_transcribe.sh \"' + ($('Parse Stop State').first().json.file || '').replace(/\"/g, '\\\\\"') + '\" \"' + ($('Parse Stop State').first().json.title || '').replace(/\"/g, '\\\\\"') + '\"' }}"
      },
      "name": "Run Transcription",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [1480, 520]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.stdout || '';\nconst err = $input.first().json.stderr || '';\nif (!raw.trim()) {\n  return [{ json: { error: 'transcribe.py: ' + (err.trim() || 'пустой ответ') } }];\n}\ntry {\n  return [{ json: JSON.parse(raw) }];\n} catch(e) {\n  return [{ json: { error: 'transcribe.py: ' + (err.trim() || raw.substring(0, 500)) } }];\n}"
      },
      "name": "Parse Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1700, 520]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "meeting_transcripts",
        "columns": "title,file_path,transcript,utterances,speaker_count,transcribed_at",
        "additionalFields": {}
      },
      "name": "Save to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1920, 440],
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "=📝 *{{ $('Parse Transcript').first().json.title }}*\n\n👥 Участников: {{ $('Parse Transcript').first().json.speaker_count }}\n💬 Реплик: {{ $('Parse Transcript').first().json.utterance_count }}\n\n{{ $('Parse Transcript').first().json.transcript.substring(0, 3000) }}{{ $('Parse Transcript').first().json.transcript.length > 3000 ? '\\n\\n...(полный текст сохранён в БД)' : '' }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Transcript",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1920, 600]
    },

    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "Неизвестная команда.\n\nДоступные команды:\n/meeting\\_start [название] — создать и записать встречу\n/meeting\\_stop — остановить запись и транскрибировать",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Unknown Command",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [660, 600]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "Route Command", "type": "main", "index": 0 }]]
    },
    "Route Command": {
      "main": [
        [{ "node": "Start Meeting", "type": "main", "index": 0 }],
        [{ "node": "Stop Meeting", "type": "main", "index": 0 }],
        [{ "node": "Unknown Command", "type": "main", "index": 0 }]
      ]
    },
    "Start Meeting": {
      "main": [[{ "node": "Parse Start State", "type": "main", "index": 0 }]]
    },
    "Parse Start State": {
      "main": [[{ "node": "Start Has Error?", "type": "main", "index": 0 }]]
    },
    "Start Has Error?": {
      "main": [
        [{ "node": "Send Start Error", "type": "main", "index": 0 }],
        [{ "node": "Send Join URL", "type": "main", "index": 0 }]
      ]
    },
    "Stop Meeting": {
      "main": [[{ "node": "Parse Stop State", "type": "main", "index": 0 }]]
    },
    "Parse Stop State": {
      "main": [[{ "node": "Stop Has Error?", "type": "main", "index": 0 }]]
    },
    "Stop Has Error?": {
      "main": [
        [{ "node": "Send Stop Error", "type": "main", "index": 0 }],
        [{ "node": "Notify Stop", "type": "main", "index": 0 }]
      ]
    },
    "Notify Stop": {
      "main": [[{ "node": "Run Transcription", "type": "main", "index": 0 }]]
    },
    "Run Transcription": {
      "main": [[{ "node": "Parse Transcript", "type": "main", "index": 0 }]]
    },
    "Parse Transcript": {
      "main": [
        [{ "node": "Save to Supabase", "type": "main", "index": 0 }],
        [{ "node": "Send Transcript", "type": "main", "index": 0 }]
      ]
    }
  }
}
