n8n_workflow.json
{
  "name": "Telemost Meeting Recorder",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 6,
        "output": "={{ (() => { const token = (($json.message.text || $json.message.caption || '').trim().split(/\\s+/)[0] || '').toLowerCase(); const raw = token.split('@')[0]; const ix = ['/meeting_start','/meeting_stop','/meeting_join','/telemost_name','/telemost_photo'].indexOf(raw); return ix >= 0 ? ix : 5; })() }}"
      },
      "name": "Route Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [420, 300]
    },

    {
      "parameters": {
        "command": "={{ '/opt/telemost-recorder/run_start.sh \"' + (($('Telegram Trigger').first().json.message.text.replace('/meeting_start', '').trim() || 'Встреча ' + new Date().toLocaleString('ru-RU', { timeZone: 'Europe/Moscow' })).replace(/\"/g, '\\\\\"')) + '\" \"' + String($('Telegram Trigger').first().json.message.chat.id) + '\"' }}"
      },
      "name": "Start Meeting",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [660, 160]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.stdout || '';\nconst err = $input.first().json.stderr || '';\nif (!raw.trim()) {\n  return [{ json: { error: err.trim() || 'start_meeting.sh вернул пустой ответ' } }];\n}\ntry {\n  return [{ json: JSON.parse(raw) }];\n} catch(e) {\n  return [{ json: { error: 'start_meeting.sh: ' + (err.trim() || raw.substring(0, 500)) } }];\n}"
      },
      "name": "Parse Start State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 160]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Start Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1060, 160]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "=❌ Ошибка при создании встречи:\n\n`{{ $json.error }}`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Start Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1260, 80]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "=✅ Встреча создана!\n\n📋 *{{ $json.title }}*\n🔗 Ссылка: {{ $json.join_url }}\n\n🔴 Запись идёт. Для остановки: /meeting\\_stop",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Join URL",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1260, 240]
    },

    {
      "parameters": {
        "jsCode": "const text = $input.first().json.message?.text || '';\nconst rest = text.replace(/^\\/meeting_join\\s*/i, '').trim();\nconst urlMatch = rest.match(/https?:\\/\\/[^\\s]+/);\nconst esc = (s) => String(s).replace(/\"/g, '\\\\\"');\nconst chatId = String($input.first().json.message.chat.id);\nif (!urlMatch) {\n  return [{ json: { command: `echo '{\"error\":\"Укажите ссылку Телемоста в том же сообщении после /meeting_join\"}'` } }];\n}\nconst joinUrl = urlMatch[0];\nconst titlePart = rest.replace(joinUrl, '').trim() || ('Встреча ' + new Date().toLocaleString('ru-RU', { timeZone: 'Europe/Moscow' }));\nconst command = '/opt/telemost-recorder/run_join.sh \"' + esc(joinUrl) + '\" \"' + esc(titlePart) + '\" \"' + esc(chatId) + '\"';\nreturn [{ json: { command } }];"
      },
      "name": "Build Join Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [540, 20]
    },
    {
      "parameters": {
        "command": "={{ $json.command }}"
      },
      "name": "Join Meeting",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [660, 20]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.stdout || '';\nconst err = $input.first().json.stderr || '';\nif (!raw.trim()) {\n  return [{ json: { error: err.trim() || 'join_meeting.sh вернул пустой ответ' } }];\n}\ntry {\n  return [{ json: JSON.parse(raw) }];\n} catch(e) {\n  return [{ json: { error: 'join_meeting.sh: ' + (err.trim() || raw.substring(0, 500)) } }];\n}"
      },
      "name": "Parse Join State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 20]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Join Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1060, 20]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "=❌ Не удалось начать запись по ссылке:\n\n`{{ $json.error }}`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Join Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1260, -60]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "=✅ Запись по ссылке запущена\n\n📋 *{{ $json.title }}*\n🔗 {{ $json.join_url }}\n\n🔴 Запись идёт. Остановка: /meeting\\_stop",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Join Started",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1260, 100]
    },

    {
      "parameters": {
        "command": "/opt/telemost-recorder/run_stop.sh"
      },
      "name": "Stop Meeting",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [660, 440]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.stdout || '';\nconst err = $input.first().json.stderr || '';\nif (!raw.trim()) {\n  return [{ json: { error: err.trim() || 'Нет активной встречи' } }];\n}\ntry {\n  return [{ json: JSON.parse(raw) }];\n} catch(e) {\n  return [{ json: { error: 'stop_meeting.sh: ' + (err.trim() || raw.substring(0, 500)) } }];\n}"
      },
      "name": "Parse Stop State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 440]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Stop Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1060, 440]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "=❌ Ошибка при остановке встречи:\n\n`{{ $json.error }}`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Stop Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1260, 360]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "=⏹ Запись остановлена.\n📁 Файл: `{{ $json.file }}`\n🕐 Начало (МСК): {{ new Date($json.started_at).toLocaleString('ru-RU', { timeZone: 'Europe/Moscow' }) }}\n⏱ Длительность: {{ Math.round($json.duration_sec / 60) }} мин\n\n⏳ Запускаю транскрибацию...",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Notify Stop",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1260, 520]
    },
    {
      "parameters": {
        "command": "={{ '/opt/telemost-recorder/run_transcribe.sh \"' + ($('Parse Stop State').first().json.file || '').replace(/\"/g, '\\\\\"') + '\" \"' + ($('Parse Stop State').first().json.title || '').replace(/\"/g, '\\\\\"') + '\"' }}"
      },
      "name": "Run Transcription",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [1480, 520]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.stdout || '';\nconst err = $input.first().json.stderr || '';\nif (!raw.trim()) {\n  return [{ json: { error: 'transcribe.py: ' + (err.trim() || 'пустой ответ') } }];\n}\ntry {\n  return [{ json: JSON.parse(raw) }];\n} catch(e) {\n  return [{ json: { error: 'transcribe.py: ' + (err.trim() || raw.substring(0, 500)) } }];\n}"
      },
      "name": "Parse Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1700, 520]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Transcript Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1810, 520]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "=❌ Ошибка транскрибации:\n\n`{{ $json.error }}`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Transcribe Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [2040, 380]
    },
    {
      "parameters": {
        "jsCode": "const t = $input.first().json;\nconst utterancesRaw = t.utterances ?? [];\nconst chatId = String($('Telegram Trigger').first().json.message.chat.id);\nreturn [{\n  json: {\n    title: t.title ?? '',\n    file_path: t.file_path ?? null,\n    transcript: t.transcript ?? '',\n    utterances: JSON.stringify(utterancesRaw),\n    speaker_count: t.speaker_count ?? 0,\n    utterance_count: t.utterance_count ?? 0,\n    operation_id: t.operation_id ?? null,\n    transcribed_at: t.transcribed_at ?? new Date().toISOString(),\n    _n8n_chat_id: chatId,\n    _n8n_source: 'telegram_bot',\n  },\n}];"
      },
      "name": "Build Supabase Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1925, 560]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.meeting_transcripts (title, file_path, transcript, utterances, speaker_count, utterance_count, operation_id, transcribed_at) VALUES ($1, $2, $3, $4::jsonb, $5::integer, $6::integer, $7, $8::timestamptz)",
        "options": {
          "queryReplacement": "={{ [$json.title, $json.file_path, $json.transcript, $json.utterances, $json.speaker_count, $json.utterance_count, $json.operation_id, $json.transcribed_at] }}"
        }
      },
      "name": "Save to Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2150, 560],
      "credentials": {
        "postgres": {
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Build Supabase Row').first().json._n8n_chat_id }}",
        "text": "=📝 *{{ $('Build Supabase Row').first().json.title }}*\n\n🕐 {{ new Date($('Build Supabase Row').first().json.transcribed_at).toLocaleString('ru-RU', { timeZone: 'Europe/Moscow' }) }}\n\n👥 Участников: {{ $('Build Supabase Row').first().json.speaker_count }}\n💬 Реплик: {{ $('Build Supabase Row').first().json.utterance_count }}\n\n{{ $('Build Supabase Row').first().json.transcript.substring(0, 3000) }}{{ $('Build Supabase Row').first().json.transcript.length > 3000 ? '\\n\\n...(полный текст сохранён в БД)' : '' }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Transcript",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [2370, 620]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "fields": {
          "values": [
            {
              "name": "title",
              "type": "stringValue",
              "stringValue": "={{ $json.title }}"
            },
            {
              "name": "transcript",
              "type": "stringValue",
              "stringValue": "={{ $json.transcript }}"
            },
            {
              "name": "chat_id",
              "type": "stringValue",
              "stringValue": "={{ $json._n8n_chat_id }}"
            },
            {
              "name": "source",
              "type": "stringValue",
              "stringValue": "={{ $json._n8n_source }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "name": "Prepare Summary Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [2370, 480],
      "id": "f1a2b3c4-d5e6-4789-a012-3456789abc01"
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "a1b2c3d4-e5f6-7890-abcd-ef00summary01",
          "mode": "list",
          "cachedResultName": "Telemost — Meeting Summary (sub-workflow)"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "name": "Execute Meeting Summary",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [2590, 480],
      "id": "f1a2b3c4-d5e6-4789-a012-3456789abc02",
      "continueOnFail": true
    },

    {
      "parameters": {
        "jsCode": "const trigger = $('Telegram Trigger').first().json;\nconst msg = trigger.message || {};\nconst chatId = String(msg.chat?.id ?? '');\nconst line = String(msg.text || msg.caption || '').replace(/^\\s*\\/telemost_name\\s*/i, '').trim();\nif (!line) {\n  return [\n    {\n      json: {\n        chat_id: chatId,\n        error:\n          'Укажите имя после команды, например: /telemost_name EN Recording bot\\nСброс к .env: /telemost_name --reset',\n      },\n    },\n  ];\n}\nconst esc = (s) =>\n  String(s)\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/\"/g, '\\\\\"')\n    .replace(/\\$/g, '\\\\$')\n    .replace(/`/g, '\\\\`');\nconst command = '/opt/telemost-recorder/set_recorder_display_name.sh \"' + esc(line) + '\"';\nreturn [{ json: { chat_id: chatId, command } }];"
      },
      "name": "Build Telemost Name Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [620, 680]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Telemost Name Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [760, 680]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=❌ `{{ $json.error }}`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Telemost Name Validation Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [960, 580]
    },
    {
      "parameters": {
        "command": "={{ $json.command }}"
      },
      "name": "SSH Set Telemost Name",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [960, 760]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.stdout || '';\nconst err = $input.first().json.stderr || '';\nconst chatId = $('Build Telemost Name Command').first().json.chat_id;\nif (!raw.trim()) {\n  return [{ json: { chat_id: chatId, error: err.trim() || 'set_recorder_display_name.sh вернул пустой ответ' } }];\n}\ntry {\n  const parsed = JSON.parse(raw);\n  if (parsed.error) {\n    return [{ json: { chat_id: chatId, error: String(parsed.error) } }];\n  }\n  return [{ json: { chat_id: chatId, ...parsed } }];\n} catch (e) {\n  return [{ json: { chat_id: chatId, error: 'set_recorder_display_name.sh: ' + (err.trim() || raw.substring(0, 500)) } }];\n}"
      },
      "name": "Parse Telemost Name Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1160, 760]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Telemost Name Script Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1320, 760]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=❌ Не удалось сохранить имя:\n\n`{{ $json.error }}`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Telemost Name SSH Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1500, 660]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=✅ Имя в лобби Телемоста: *{{ $json.display_name || $json.message || \"готово\" }}*\n\nУчтётся при следующем /meeting\\_start или /meeting\\_join (если в профиле пусто — из BOT\\_DISPLAY\\_NAME в .env).",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Telemost Name OK",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1500, 860]
    },
    {
      "parameters": {
        "jsCode": "const trigger = $('Telegram Trigger').first().json;\nconst msg = trigger.message || {};\nconst chatId = String(msg.chat?.id ?? '');\nconst photos = msg.photo;\nif (!photos || photos.length === 0) {\n  return [\n    {\n      json: {\n        chat_id: chatId,\n        error:\n          'Пришлите фото с подписью /telemost_photo (картинка в том же сообщении).',\n      },\n    },\n  ];\n}\nconst best = photos[photos.length - 1];\nconst fileId = best && best.file_id;\nif (!fileId) {\n  return [{ json: { chat_id: chatId, error: 'Не удалось получить file_id фото.' } }];\n}\nconst esc = (s) =>\n  String(s)\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/\"/g, '\\\\\"')\n    .replace(/\\$/g, '\\\\$')\n    .replace(/`/g, '\\\\`');\nconst command = '/opt/telemost-recorder/save_avatar_from_telegram.sh \"' + esc(fileId) + '\"';\nreturn [{ json: { chat_id: chatId, command } }];"
      },
      "name": "Build Telemost Photo Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [620, 920]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Telemost Photo Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [760, 920]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=❌ `{{ $json.error }}`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Telemost Photo Validation Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [960, 820]
    },
    {
      "parameters": {
        "command": "={{ $json.command }}"
      },
      "name": "SSH Save Telemost Avatar",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [960, 1000]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.stdout || '';\nconst err = $input.first().json.stderr || '';\nconst chatId = $('Build Telemost Photo Command').first().json.chat_id;\nif (!raw.trim()) {\n  return [{ json: { chat_id: chatId, error: err.trim() || 'save_avatar_from_telegram.sh вернул пустой ответ' } }];\n}\ntry {\n  const parsed = JSON.parse(raw);\n  if (parsed.error) {\n    return [{ json: { chat_id: chatId, error: String(parsed.error) } }];\n  }\n  return [{ json: { chat_id: chatId, ...parsed } }];\n} catch (e) {\n  return [{ json: { chat_id: chatId, error: 'save_avatar_from_telegram.sh: ' + (err.trim() || raw.substring(0, 500)) } }];\n}"
      },
      "name": "Parse Telemost Avatar Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1160, 1000]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Telemost Avatar Script Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1320, 1000]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=❌ Не удалось сохранить аватар:\n\n`{{ $json.error }}`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Telemost Avatar SSH Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1500, 900]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=✅ Аватар для лобби Телемоста сохранён на сервере.\n\nПри следующем входе бот попытается подставить фото в экран «имя + подключиться» (если Телемост позволяет загрузку). Файл: `{{ $json.avatar_path }}`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Telemost Avatar OK",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1500, 1100]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "Неизвестная команда.\n\nДоступные команды:\n/meeting\\_start [название] — создать встречу и записать\n/meeting\\_join https://… — записать по чужой ссылке\n/meeting\\_stop — остановить запись и транскрибировать\n/telemost\\_name Имя — имя участника в лобби Телемоста\n/telemost\\_name --reset — сброс к BOT\\_DISPLAY\\_NAME из .env\n/telemost\\_photo — фото в том же сообщении, подпись /telemost\\_photo",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Unknown Command",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [660, 600]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "Route Command", "type": "main", "index": 0 }]]
    },
    "Route Command": {
      "main": [
        [{ "node": "Start Meeting", "type": "main", "index": 0 }],
        [{ "node": "Stop Meeting", "type": "main", "index": 0 }],
        [{ "node": "Build Join Command", "type": "main", "index": 0 }],
        [{ "node": "Build Telemost Name Command", "type": "main", "index": 0 }],
        [{ "node": "Build Telemost Photo Command", "type": "main", "index": 0 }],
        [{ "node": "Unknown Command", "type": "main", "index": 0 }]
      ]
    },
    "Build Telemost Name Command": {
      "main": [[{ "node": "Telemost Name Has Error?", "type": "main", "index": 0 }]]
    },
    "Telemost Name Has Error?": {
      "main": [
        [{ "node": "Send Telemost Name Validation Error", "type": "main", "index": 0 }],
        [{ "node": "SSH Set Telemost Name", "type": "main", "index": 0 }]
      ]
    },
    "SSH Set Telemost Name": {
      "main": [[{ "node": "Parse Telemost Name Result", "type": "main", "index": 0 }]]
    },
    "Parse Telemost Name Result": {
      "main": [[{ "node": "Telemost Name Script Failed?", "type": "main", "index": 0 }]]
    },
    "Telemost Name Script Failed?": {
      "main": [
        [{ "node": "Send Telemost Name SSH Error", "type": "main", "index": 0 }],
        [{ "node": "Send Telemost Name OK", "type": "main", "index": 0 }]
      ]
    },
    "Build Telemost Photo Command": {
      "main": [[{ "node": "Telemost Photo Has Error?", "type": "main", "index": 0 }]]
    },
    "Telemost Photo Has Error?": {
      "main": [
        [{ "node": "Send Telemost Photo Validation Error", "type": "main", "index": 0 }],
        [{ "node": "SSH Save Telemost Avatar", "type": "main", "index": 0 }]
      ]
    },
    "SSH Save Telemost Avatar": {
      "main": [[{ "node": "Parse Telemost Avatar Result", "type": "main", "index": 0 }]]
    },
    "Parse Telemost Avatar Result": {
      "main": [[{ "node": "Telemost Avatar Script Failed?", "type": "main", "index": 0 }]]
    },
    "Telemost Avatar Script Failed?": {
      "main": [
        [{ "node": "Send Telemost Avatar SSH Error", "type": "main", "index": 0 }],
        [{ "node": "Send Telemost Avatar OK", "type": "main", "index": 0 }]
      ]
    },
    "Build Join Command": {
      "main": [[{ "node": "Join Meeting", "type": "main", "index": 0 }]]
    },
    "Join Meeting": {
      "main": [[{ "node": "Parse Join State", "type": "main", "index": 0 }]]
    },
    "Parse Join State": {
      "main": [[{ "node": "Join Has Error?", "type": "main", "index": 0 }]]
    },
    "Join Has Error?": {
      "main": [
        [{ "node": "Send Join Error", "type": "main", "index": 0 }],
        [{ "node": "Send Join Started", "type": "main", "index": 0 }]
      ]
    },
    "Start Meeting": {
      "main": [[{ "node": "Parse Start State", "type": "main", "index": 0 }]]
    },
    "Parse Start State": {
      "main": [[{ "node": "Start Has Error?", "type": "main", "index": 0 }]]
    },
    "Start Has Error?": {
      "main": [
        [{ "node": "Send Start Error", "type": "main", "index": 0 }],
        [{ "node": "Send Join URL", "type": "main", "index": 0 }]
      ]
    },
    "Stop Meeting": {
      "main": [[{ "node": "Parse Stop State", "type": "main", "index": 0 }]]
    },
    "Parse Stop State": {
      "main": [[{ "node": "Stop Has Error?", "type": "main", "index": 0 }]]
    },
    "Stop Has Error?": {
      "main": [
        [{ "node": "Send Stop Error", "type": "main", "index": 0 }],
        [{ "node": "Notify Stop", "type": "main", "index": 0 }]
      ]
    },
    "Notify Stop": {
      "main": [[{ "node": "Run Transcription", "type": "main", "index": 0 }]]
    },
    "Run Transcription": {
      "main": [[{ "node": "Parse Transcript", "type": "main", "index": 0 }]]
    },
    "Parse Transcript": {
      "main": [[{ "node": "Transcript Has Error?", "type": "main", "index": 0 }]]
    },
    "Transcript Has Error?": {
      "main": [
        [{ "node": "Send Transcribe Error", "type": "main", "index": 0 }],
        [{ "node": "Build Supabase Row", "type": "main", "index": 0 }]
      ]
    },
    "Build Supabase Row": {
      "main": [
        [
          { "node": "Save to Supabase", "type": "main", "index": 0 },
          { "node": "Prepare Summary Payload", "type": "main", "index": 0 }
        ]
      ]
    },
    "Save to Supabase": {
      "main": [[{ "node": "Send Transcript", "type": "main", "index": 0 }]]
    },
    "Prepare Summary Payload": {
      "main": [[{ "node": "Execute Meeting Summary", "type": "main", "index": 0 }]]
    }
  }
}
